@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');

:root {
    --primary-color: #fe2c55;
    // default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --black-color: #000;
    --text-color: var(--black-color) #333;
    --primary-color: rgba(254, 44, 85, 1);
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--text-color);
}

button,
input,
[tabinde] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}
